<div class="backdrop"></div>
<header class="main-header">
  <button id="menu-toggle">Menu</button>
  <nav class="main-header-nav">
    <ul class="main-header-list">
      <li class="main-header-list-item">
        <a href="/">Shop</a>
      </li>
      <li class="main-header-list-item">
        <a href="/products">Products</a>
      </li>
      <li class="main-header-list-item">
        <a href="/cart">Cart</a>
      </li>
      <li class="main-header-list-item">
        <a href="/orders">Orders</a>
      </li>
      <li class="main-header-list-item">
        <a href="/admin/add-product">Add product</a>
      </li>
      <li class="main-header-list-item">
        <a href="/admin/products">Admin Products</a>
      </li>
    </ul>
  </nav>
</header>
<nav class="mobile-nav">
  <ul class="mobile-nav-list">
    <li class="mobile-nav-list-item">
      <a href="/">Shop</a>
    </li>
    <li class="mobile-nav-list-item">
      <a href="/products">Products</a>
    </li>
    <li class="mobile-nav-list-item">
      <a href="/cart">Cart</a>
    </li>
    <li class="mobile-nav-list-item">
      <a href="/orders">Orders</a>
    </li>
    <li class="mobile-nav-list-item">
      <a href="/admin/add-product">Add product</a>
    </li>
    <li class="mobile-nav-list-item">
      <a href="/admin/products">Admin Products</a>
    </li>
  </ul>
</nav>
